<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="sanity">
<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="demo.SampleTest">
		  <methods>
			  <include name="Case1"></include>
		  </methods>
      </class>
      <class name="sample.DemoTest">
		  <methods>
			  <include name="Case11"></include>
		  </methods>
      </class>
    </classes>
  </test>
</suite>